<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css" />
    <title>Notes App</title>
</head>

<body>
    <!-- header here -->
    <%- include('./partials/header.ejs') %>

        <!-- ---------------------------------------------------------------- -->
        <div id="btn">
            <button class="add" id="add">
                <i class="fas fa-plus"></i> Add note
            </button>
        </div>
        <!-- ---------------------------------------------------------------- -->

        <div class="container mid">
            <div class="note">
                <div class="tools sticky">
                    <button type="submit"><img class="icons" src="/img/editImg.png" alt="editBtn"></button>
                    <button type="submit"><img class="icons" src="/img/deleteImg.png" alt="deleteBtn"></button>
                </div>
                <div class="textarea">
                    WELCOME to my notes application Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quos ratione ipsa odio repudiandae architecto quasi necessitatibus labore? Vitae, architecto tempora illum voluptatem quae modi suscipit magni mollitia cumque! Minus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, debitis? Perspiciatis sint dolores mollitia. Quos asperiores veritatis minus laboriosam quam, excepturi, quas culpa ea inventore commodi possimus voluptatem. Earum, pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed sequi quod tempore molestiae optio fugiat repellendus architecto, praesentium deserunt eos a totam ea obcaecati, explicabo sint iusto, quaerat ad earum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente omnis earum, laudantium mollitia quis distinctio corporis repudiandae at ipsam dolorem cum blanditiis. Vero molestiae quidem expedita obcaecati ullam accusantium debitis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur temporibus dolore optio quos voluptates totam ratione vero quae nesciunt aut eaque asperiores atque officia similique quam ducimus iusto, qui suscipit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, voluptatum sed debitis numquam atque eius ipsa minima nihil quod ipsum, nam ducimus dolor amet ex! Magni maiores voluptas laudantium debitis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque nisi quos, vero mollitia repellendus assumenda. Perferendis, eos ipsa neque illum adipisci libero quibusdam aut maiores, facere iste sunt molestias fugit.
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.2.2/marked.min.js"></script>
        <script src="script.js" defer></script>

        <!-- footer here -->
        <%- include('./partials/footer.ejs') %>
</body>

</html>