@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
box-sizing: border-box;
outline: none;
}
body {
background-color: #ffffff;
font-family: 'Poppins', sans-serif;
display: flex;
flex-wrap: wrap;
margin: 0;
padding-top: 3rem;
}
.add {
    padding: 0px 10px;
    width: 300px;
    height: 45px;
    margin-top: 38px;
    margin-left: 20px;
    margin-right: 55px;
    border-radius: 24px;

    float: right;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: #fcc71e;
    cursor: pointer;
    /* border: 1px solid rgb(0, 0, 0); */
    transition: .5s;
}
.add:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.add:active {
transform: scale(0.98);
}
/* .note {
background-color: #bbbbbb;
box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
margin: 30px 20px;
height: 400px;
width: 400px;
overflow-y: scroll;
} */
/* .note .tools {
background-color: #fcc71e;
display: flex;
justify-content: flex-end;
padding: 0.5rem;
} */
/* .note .tools button {
background-color: transparent;
border: none;
color: #6a6a6a;
cursor: pointer;
font-size: 1rem;
margin-left: 0.5rem;
} */
/* .note textarea {
outline: none;
font-family: inherit;
font-size: 1.2rem;
border: none;
height: 400px;
width: 100%;
padding: 20px;
} */
.main {
padding: 20px;
}
.hidden {
display: none;
}
.mid{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color:#fcc71e;
    text-decoration: none;
}
a:hover{
    color: rgb(53, 53, 53);
}